In [1]:
import pandas as pd 
import numpy as np
import matplotlib as plt 
import seaborn as sns

In [2]:
df=pd.read_excel("aircityday.xlsx")

In [3]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [4]:
df.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [5]:
df['PM2.5'] = df.groupby('City')['PM2.5'].transform(lambda x: x.fillna(x.mean()))
df['PM10'] = df.groupby('City')['PM10'].transform(lambda x: x.fillna(x.mean()))
df['NO'] = df.groupby('City')['NO'].transform(lambda x: x.fillna(x.mean()))
df['NO2'] = df.groupby('City')['NO2'].transform(lambda x: x.fillna(x.mean()))
df['NOx'] = df.groupby('City')['NOx'].transform(lambda x: x.fillna(x.mean()))
df['NH3'] = df.groupby('City')['NH3'].transform(lambda x: x.fillna(x.mean()))
df['CO'] = df.groupby('City')['CO'].transform(lambda x: x.fillna(x.mean()))
df['SO2'] = df.groupby('City')['SO2'].transform(lambda x: x.fillna(x.mean()))
df['O3'] = df.groupby('City')['O3'].transform(lambda x: x.fillna(x.mean()))
df['Benzene'] = df.groupby('City')['Benzene'].transform(lambda x: x.fillna(x.mean()))
df['Toluene'] = df.groupby('City')['Toluene'].transform(lambda x: x.fillna(x.mean()))
df['AQI'] = df.groupby('City')['AQI'].transform(lambda x: x.fillna(x.mean()))

In [6]:
# Step 1: Define the function
def get_aqi_bucket(aqi):
    if aqi <= 50:
        return 'Good'
    elif aqi <= 100:
        return 'Satisfactory'
    elif aqi <= 200:
        return 'Moderate'
    elif aqi <= 300:
        return 'Poor'
    elif aqi <= 400:
        return 'Very Poor'
    else:
        return 'Severe'

# Step 2: Apply the function to the column
df['AQI_Bucket'] = df['AQI'].apply(get_aqi_bucket)

In [7]:
df['AQI_Bucket'].fillna(df['AQI_Bucket'].mode()[0], inplace=True)

C:\Users\dellll\AppData\Local\Temp\ipykernel_13096\1709074606.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AQI_Bucket'].fillna(df['AQI_Bucket'].mode()[0], inplace=True)

In [8]:
df.drop(['Xylene'], axis=1, inplace=True)

In [9]:
df.isnull().sum()

City             0
Date             0
PM2.5            0
PM10          2009
NO               0
NO2              0
NOx           1169
NH3           2009
CO               0
SO2              0
O3             162
Benzene       2732
Toluene       4010
AQI              0
AQI_Bucket       0
dtype: int64

In [10]:
# Clean city names
df['City'] = df['City'].astype(str).str.strip().fillna('Unknown')

# Columns you want to fill
cols = ['PM10', 'NOx', 'NH3', 'O3', 'Benzene', 'Toluene']

# Fill missing values by city mean first
for col in cols:
    df[col] = df.groupby('City')[col].transform(lambda x: x.fillna(x.mean()))

# Fill any remaining missing values by overall mean
for col in cols:
    df[col] = df[col].fillna(df[col].mean())

# Check if any missing values left
print(df.isnull().sum())

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
AQI           0
AQI_Bucket    0
dtype: int64

In [11]:
df.isnull().sum()

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
AQI           0
AQI_Bucket    0
dtype: int64

In [12]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,67.854497,114.584029,0.92,18.22,17.15,23.024137,0.92,27.64,133.36,0.00,0.02,452.122939,Severe
1,Ahmedabad,2015-01-02,67.854497,114.584029,0.97,15.69,16.46,23.024137,0.97,24.55,34.06,3.68,5.50,452.122939,Severe
2,Ahmedabad,2015-01-03,67.854497,114.584029,17.40,19.30,29.70,23.024137,17.40,29.07,30.70,6.80,16.40,452.122939,Severe
3,Ahmedabad,2015-01-04,67.854497,114.584029,1.70,18.48,17.97,23.024137,1.70,18.59,36.08,4.43,10.14,452.122939,Severe
4,Ahmedabad,2015-01-05,67.854497,114.584029,22.10,21.42,37.76,23.024137,22.10,39.33,39.31,7.01,18.89,452.122939,Severe

In [13]:
import pandas as pd
import numpy as np
import requests


df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values("Date")
df = df.set_index("Date")

# keep AQI only for now
daily_aqi = df[['AQI']]
daily_aqi.head()

                   AQI
Date
2015-01-01  452.122939
2015-01-01  114.502654
2015-01-01  472.000000
2015-01-01  217.973059
2015-01-01  105.352258

In [14]:
import pandas as pd

df = pd.read_csv("city_level_air_data.csv")
print(df.columns)

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI'],
      dtype='object')

In [15]:
import pandas as pd

# 1) Load CSV
df = pd.read_csv("city_level_air_data.csv")

# 2) Convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Remove rows where Date could not be parsed
df = df.dropna(subset=['Date'])

# 3) Set Date as index
df = df.set_index('Date').sort_index()

# 4) Filter for Ahmedabad (if your dataset has multiple cities)
df = df[df['City'] == 'Ahmedabad']

# 5) Aggregate duplicate dates USING ONLY NUMERIC COLUMNS
# ðŸ‘‰ This line FIXES your error: numeric_only=True
daily = df.groupby(df.index).mean(numeric_only=True)

# 6) Now create hourly index
start = daily.index.min()
end = daily.index.max() + pd.Timedelta(days=1) - pd.Timedelta(hours=1)
hourly_idx = pd.date_range(start=start, end=end, freq='H')

# 7) Convert AQI to numeric safely
daily['AQI'] = pd.to_numeric(daily['AQI'], errors='coerce')

# 8) Interpolate daily â†’ hourly
hourly_aqi = (
    daily['AQI']
    .reindex(hourly_idx)
    .interpolate(method='time')
    .to_frame(name='AQI_hourly')
)

# 9) Preview
print("Daily rows:", len(daily))
print("Hourly rows:", len(hourly_aqi))
print(hourly_aqi.head(10))

Daily rows: 2009
Hourly rows: 48216
                     AQI_hourly
2015-01-01 00:00:00         NaN
2015-01-01 01:00:00         NaN
2015-01-01 02:00:00         NaN
2015-01-01 03:00:00         NaN
2015-01-01 04:00:00         NaN
2015-01-01 05:00:00         NaN
2015-01-01 06:00:00         NaN
2015-01-01 07:00:00         NaN
2015-01-01 08:00:00         NaN
2015-01-01 09:00:00         NaN

C:\Users\dellll\AppData\Local\Temp\ipykernel_13096\2299331707.py:25: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_idx = pd.date_range(start=start, end=end, freq='H')

In [16]:
# create hourly series from daily AQI
hourly_series = daily['AQI'].reindex(hourly_idx)

# linear interpolate between known daily points
hourly_series = hourly_series.interpolate(method='time')


hourly_series = hourly_series.fillna(method='bfill').fillna(method='ffill')

# convert to DataFrame
hourly_aqi = hourly_series.to_frame(name='AQI_hourly')
print(hourly_aqi.head(12))

                     AQI_hourly
2015-01-01 00:00:00       209.0
2015-01-01 01:00:00       209.0
2015-01-01 02:00:00       209.0
2015-01-01 03:00:00       209.0
2015-01-01 04:00:00       209.0
2015-01-01 05:00:00       209.0
2015-01-01 06:00:00       209.0
2015-01-01 07:00:00       209.0
2015-01-01 08:00:00       209.0
2015-01-01 09:00:00       209.0
2015-01-01 10:00:00       209.0
2015-01-01 11:00:00       209.0

C:\Users\dellll\AppData\Local\Temp\ipykernel_13096\1847900535.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  hourly_series = hourly_series.fillna(method='bfill').fillna(method='ffill')

In [17]:
print("First daily AQI index:", daily['AQI'].first_valid_index())
print("First hourly non-NaN:", hourly_aqi['AQI_hourly'].first_valid_index())
print("Any NaNs left?", hourly_aqi['AQI_hourly'].isna().any())

First daily AQI index: 2015-01-29 00:00:00
First hourly non-NaN: 2015-01-01 00:00:00
Any NaNs left? False

In [18]:
def get_weather(lat, lon, start_dt, end_dt):
    url = "https://api.open-meteo.com/v1/forecast"
    params = {
        "latitude": lat,
        "longitude": lon,
        "hourly":"temperature_2m,relativehumidity_2m,windspeed_10m,pressure_msl,cloudcover",
        "start": start_dt.isoformat(),
        "end": end_dt.isoformat(),
        "timezone":"Asia/Kolkata"
    }
    r = requests.get(url, params=params)
    data = r.json()
    df = pd.DataFrame(data["hourly"])
    df["time"] = pd.to_datetime(df["time"])
    df = df.set_index("time")
    df.columns = ["temp","humidity","wind","pressure","cloud"]
    return df

start = hourly_aqi.index.min()
end = hourly_aqi.index.max()

weather = get_weather(23.03, 72.58, start, end)  # Ahmedabad
weather.head()

                     temp  humidity  wind  pressure  cloud
time
2025-11-14 00:00:00  18.4        65   4.1    1015.3      0
2025-11-14 01:00:00  16.9        72   4.1    1014.6      3
2025-11-14 02:00:00  15.9        77   4.0    1014.7      5
2025-11-14 03:00:00  15.2        80   4.0    1014.6      0
2025-11-14 04:00:00  15.2        80   4.6    1015.0      6

In [19]:
# 1) Merge safely (avoid empty rows)
data = hourly_aqi.merge(weather, left_index=True, right_index=True, how='left')
data = data.sort_index().interpolate().ffill().bfill()

In [20]:
 #2) Feature creation (no dropna that empties dataframe)
def add_features(df):
    df = df.copy()

    df['hour'] = df.index.hour
    df['dayofweek'] = df.index.dayofweek

    # lags
    for lag in range(1, 25):
        df[f"AQI_lag_{lag}"] = df["AQI_hourly"].shift(lag)

    # rolling averages
    df["AQI_roll_6"] = df["AQI_hourly"].rolling(6).mean().shift(1)
    df["AQI_roll_24"] = df["AQI_hourly"].rolling(24).mean().shift(1)

    # FIX: Fill NA instead of drop (drop was causing empty data)
    df = df.fillna(method='ffill').fillna(method='bfill')

    return df

feat = add_features(data)

C:\Users\dellll\AppData\Local\Temp\ipykernel_13096\493578733.py:17: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill').fillna(method='bfill')

In [21]:
# 3) FIX in make_supervised â€” ensure horizon is not larger than data
def make_supervised(df, horizon=24):
    df = df.copy()
    n = len(df)

    # auto reduce horizon so X,Y are NEVER empty
    if n <= horizon:
        horizon = n - 1

    X, Y = [], []
    for i in range(n - horizon):
        X.append(df.iloc[i].drop("AQI_hourly").values)
        Y.append(df["AQI_hourly"].iloc[i+1 : i+1+horizon].values)

    return np.array(X), np.array(Y)

In [22]:
# 4) Create supervised dataset safely
X, Y = make_supervised(feat, horizon=24)

print("X shape:", X.shape)
print("Y shape:", Y.shape)

X shape: (48192, 33)
Y shape: (48192, 24)

In [23]:
n_test = 24 * 7   # 1 week test
X_train, X_test = X[:-n_test], X[-n_test:]
Y_train, Y_test = Y[:-n_test], Y[-n_test:]

In [24]:
from sklearn.ensemble import RandomForestRegressor
import time

# Train/test split as you already do
# X_train, X_test, Y_train, Y_test = ...

model = RandomForestRegressor(
    n_estimators=40,    # default 100 -> 40 (faster)
    max_depth=16,       # limit depth to cut tree time
    max_features="sqrt",
    n_jobs=-1,          # use all CPU cores
    random_state=0
)

t0 = time.time()
model.fit(X_train, Y_train)   # RandomForest supports multi-output Y directly (faster than MultiOutputRegressor)
print("Train time (s):", time.time() - t0)

Train time (s): 10.334348917007446

In [25]:
from sklearn.metrics import mean_absolute_error

y_pred = model.predict(X_test)

mae_all = mean_absolute_error(Y_test, y_pred)
print("Overall MAE:", mae_all)

# important horizons
for h in [1,6,12,24]:
    print(f"MAE +{h} hour:", mean_absolute_error(Y_test[:,h-1], y_pred[:,h-1]))

Overall MAE: 8.102604599186366
MAE +1 hour: 1.5953626666741239
MAE +6 hour: 3.5754296029128803
MAE +12 hour: 7.381436805451161
MAE +24 hour: 16.51146452056467

In [26]:
last_row = feat.iloc[-1].drop("AQI_hourly").values.reshape(1, -1)
next24 = model.predict(last_row)[0]

# make timestamps
start = feat.index[-1] + pd.Timedelta(hours=1)
future_index = pd.date_range(start, periods=24, freq='H')

future_aqi = pd.Series(next24, index=future_index, name="Predicted_AQI")
print(future_aqi.head(10))

2020-07-02 00:00:00    119.313055
2020-07-02 01:00:00    119.302006
2020-07-02 02:00:00    119.291535
2020-07-02 03:00:00    119.282683
2020-07-02 04:00:00    119.272355
2020-07-02 05:00:00    119.262780
2020-07-02 06:00:00    119.253485
2020-07-02 07:00:00    119.244344
2020-07-02 08:00:00    119.233084
2020-07-02 09:00:00    119.218661
Freq: h, Name: Predicted_AQI, dtype: float64

C:\Users\dellll\AppData\Local\Temp\ipykernel_13096\4068808205.py:6: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  future_index = pd.date_range(start, periods=24, freq='H')

In [27]:
import pickle

with open("model.pkl", "wb") as f:
    pickle.dump(model, f)

print("Model saved as model.pkl")

Model saved as model.pkl